body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img img{
 width: 300px;
 height: 170px;
}

form{
  background: rgb(0, 0, 0);
  color: #fff;
  width: 600px;
}
#button{
 background: rgb(27, 211, 211);
 padding: 10px;
 margin: 10px 0px;
 border-radius: 20px;
 text-align: center;
}
.inpunts{
display: flex;
flex-direction: column;
width: 270px;
margin: auto;
color: #fff;

}
.inpunts input {
  border-radius: 20px;
}
